# Byte-compiled / optimized / C-extensions
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches de ferramentas de teste
.pytest_cache/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Arquivos de IDE
.idea/
.vscode/

# Ambiente Virtual
venv/
.venv/
env/
ENV/

# Arquivos de configuração de ambiente e segredos
# NUNCA envie seus segredos para o Git!
.env
.env.*
!*.env.example
!*.env.template

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Diretórios gerados pelo setup.sh
/output/
/cache/
/logs/
/temp/
/backups/
/nginx/ssl/

# Artefatos de build
/build/
/dist/
*.egg-info/